@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'poppins', sans-serif;
}

.homepage {
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1573164574572-cb89e39749b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

a {
    text-decoration: none;
    font-weight: 400;
    /* 1.6rem*10 = 16px */
    font-size: 1.6rem;
    color: whitesmoke;
}

h1 {
    font-weight: 800;
    font-size: 4.2rem;
}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

h3 {
    font-weight: 800;
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
}

h1,
h2,
p {
    margin: 1.6rem 0;
}


.logo {
    color: rgb(23, 139, 23);
}

nav {
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;

}

nav ul {
    list-style-type: none;
    padding-top: 30px;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a:hover {
    color: rgb(23, 139, 23);
    transition: 0.5% ease-in-out;
}

nav box-icon {
    display: none;
}

.header-content {
    width: 70%;
    padding: 0 100px;
}

.header-content h1 {
    margin-top: 50px;
    font-size: 3rem;
}

.header-content p {
    font-size: 14px;
}


form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form input {
    margin: 4px;
    padding: 10px;
    border: none;
    font-size: 12px;
}

form input[type='submit'] {
    background-color: rgb(23, 139, 23);
    color: whitesmoke;
    text-transform: uppercase;
    margin-top: 10px;
}

/* about styling */

section {
    padding: 100px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    /* since width: 80%, margin:auto will make it center */
    margin: auto;
}

.about-left,
.about-middle,
.about-right {
    width: 350px;
}

.read-more {
    border: none;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(23, 139, 23);
    color: whitesmoke;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 20px;
    font-family: poppins;
}

/* Anout us */

.about-us {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-color: #222;
    color: whitesmoke;
    align-items: center;
}

.information {
    width: 50%;
}

.information p {
    font-size: 12px;
}

.four-buttons button {
    width: 220px;
    height: 180px;
    background-color: whitesmoke;
    margin: 10px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    font-family: poppins;
}

/* Process */

.process {
    padding: 60px 0;
}

.process-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

.process h2 {
    padding: 0 100px;
    text-align: center;
}

.process-one {
    text-align: left;
}

.process-two {
    text-align: center;
}

.process-three {
    text-align: right;
}

.process-one h3,
.process-two h3,
.process-three h3 {
    color: rgb(23, 139, 23);
}

/* testimony */

.review img {
    border-radius: 50%;
}

.review {
    border: 1px solid rgb(66, 66, 66);
    background-color: rgb(66, 66, 66);
    color: whitesmoke;
    padding: 20px 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    margin: 20px;
}


.star box-icon {
    color: whitesmoke;
    margin-top: 30px;
}

.testimony {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}

/* contact-us */

.contact {
    text-align: center;

}

.contact h3 {
    padding-bottom: 30px;
}

.contact div {
    display: flex;
    justify-content: center;
}

.contact form input {
    border: 1px solid lightgray;
    margin: 10px;
    padding: 13px;
    border-radius: 5px;
}

/* footer */

footer p {
    text-align: center;
    color: whitesmoke;
    background-color: #222;
    height: 100px;
    padding-top: 45px;
}

/* responsive */

@media screen and (max-width:768px) {
    nav {
        flex-direction: column;
        position: relative;
    }

    nav box-icon {
        display: block;
        position: absolute;
        top: 40px;
        right: 30px;
    }

    nav ul {
        background-color: whitesmoke;
        /* display: none; */
    }

    .showmenu {
        display: block;
    }

    nav ul li {
        display: block;
        padding: 2% 0;
    }

    nav ul li a {
        color: #222;
    }
}